.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__header {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12vh;
}

.app__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: center;
}

.app__footer {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12vh;
}