.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__header {
  border-bottom: 1px solid #313131;
  color: #787878;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  min-height: 12vh;
  font-weight: 600;
  word-spacing: 4px;
  padding-left: 10rem;
}

.app__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  justify-content: center;
}

.app__footer {
  align-items: center;
  color: #787878;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12vh;
  border-top: 1px solid #313131;
  font-size: 0.8rem;
}

.app__footer__p {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.6rem;
  font-weight: 500;
}

.landing__heading {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #787878;
}

.landing__subheading {
  font-size: 1.2rem;
  word-spacing: 3px;
  color: #A1A1A1;
  margin: 2rem 0;
  font-weight: 500;
}

.form-submit-fieldset {
  margin: 3rem 0;
}